/*------------------------------
BEGIN Menu Section 
------------------------------*/
.left-menu {
	position:fixed;
	z-index:9999;
	top:0;
	left:0;
}
/*------------------------------
END Menu Section
------------------------------*/
/*------------------------------
BEGIN Header Section 
------------------------------*/
header {
	margin-top:60px;
	margin-bottom:25px;
}
/*------------------------------
END Header Section
------------------------------*/
.panel img.icon {
	width: 100%;
	border-radius:3px; 
}
.panel > .collection {
	border-radius:3px; 
}
.panel > .panel-heading {
	padding: 2px;
	margin-bottom:10px;
	border-bottom: 1px solid #eee;
}
.panel > .row {
	margin-bottom:10px;
}
.panel .panel-desc:after {
	content: "";
	display: table;
	clear: both;
}
.panel .panel-desc {
	padding: 10px;
	border-bottom: 1px dashed #e0e0e0;
}
.panel .panel-desc > .board-icon {
	padding:0;
	line-height: 0;
}
/*------------------------------
BEGIN Helper Section 
------------------------------*/
/*-- background --*/
.bg-black {
	background: #333;
	color: #ccc;
}
/*-- text --*/
.truncate {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
/*-- image --*/
.img-circle {
	border-radius: 50%;
}
.img-rounded {
	border-radius: 6px;
}
/*------------------------------
END Helper Section 
------------------------------*/
/*------------------------------
BEGIN Footer Section 
------------------------------*/
footer > .container {
	padding: 25px;
	margin-top:25px;
}
/*------------------------------
END Footer Section
------------------------------*/