@-webkit-keyframes startPage {
	from {opacity: 0;}
	to {opacity: 1;}
}
@-moz-keyframes startPage {
	from {opacity: 0;}
	to {opacity: 1;}
}
@-o-keyframes startPage {
	from {opacity: 0;}
	to {opacity: 1;}
}
.site-sidenav.md-locked-open, md-sidenav {
	width: 250px;
	min-width: 250px;
	max-width: 250px;
}